body {
    margin: 0;
}

/*Header*/
.header {
    background-image: url(images/header-bg-image.png);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-par {
    font-family: Montserrat;
    height: 820px;
    display: flex;
    justify-content: space-between;

}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: AlfaSlabOne;
    src: url(fonts/AlfaSlabOne-Regular.ttf);
}

.header-logo {
    max-width: 263px;
    margin: 46px 56px;
}

.header-scooter-par {
    text-align: center;
    display: flex;
    margin: -655px 45px 0px 0px;
    width: 330px;
    align-items: center;
    font-family: bebas-neue;
}

.header-scooter {
    margin: 46px 12px;
    height: 35px;
}

.header-scooter-text {
    font-weight: bold;
    font-family: 'Montserrat';
    max-width: 273px;
    height: 18px;
}

.header-nav-par {
    display: flex;
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    margin-top: -698px;
    margin-left: 918px;
    max-width: 533px;

}

.header-nav {
    text-decoration: none;
    margin: 0 13px;
    font-family: BebasNeue;
    letter-spacing: 6px;
    color: #3d2514;
}

.header-glow {
    height: 600px;
    width: 100%;
    max-width: 627px;
    position: absolute;
    top: 10px;
    right: 34px;
}

.header-anchor {
    text-decoration: none;
    color: #3d2514;
}

.header-drink {
    max-width: 171px;
    position: absolute;
    height: 478px;
    right: 103px;
    top: 221px;
}

.header-french-fries-parent {
    right: 410px;
    position: absolute;
    top: 281px;
}

.header-french-fries {
    transform: rotate(-36deg);
    max-width: 220px;
}

.header-burger {
    max-width: 356px;
    position: absolute;
    height: 367px;
    right: 171px;
    top: 349px;
}

.header-price {
    top: 525px;
    right: 460px;
    padding: 54px 10px;
    position: absolute;
}

.header-burger-shadow {
    max-width: 441px;
    position: absolute;
    bottom: 72px;
    right: 135px;

}

.header-drink-shadow {
    max-width: 270px;
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.header-sub-title {
    font-size: 24px;
    border: dashed 2px #3d2514;
    padding: 15px 20px;
    max-width: 415px;
    position: absolute;
    top: 285px;
    left: 60px;
    font-family: 'BebasNeue';
    color: #3d2514;
}

.header-burger-text {
    left: 64px;
    position: absolute;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 114px;
    color: #ffffff;
    letter-spacing: 6px;
    top: 348px;
}

.header-burger-text-white {
    position: absolute;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 114px;
    color: #3d2514;
    letter-spacing: 6px;
    left: 60px;
    top: 345px;
}

.header-week-text {
    position: absolute;
    left: 67px;
    bottom: 251px;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 56px;
    color: #ffffff;
    letter-spacing: 2px;
}

.header-week-text-white {
    position: absolute;
    bottom: 254px;
    left: 64px;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 56px;
    color: #3d2514;
    letter-spacing: 2px;
}



/*Featured Products*/
.feature-products {
    width: 100%;
}

.products {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.products-left {
    width: 48%;
    border-radius: 10px;
    position: relative;
}


.products-right {
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
}

.products-right-up,
.products-right-down {
    border-radius: 10px;
    position: relative;
}

.products-image {
    width: 100%;
    border-radius: 10px;
}

@font-face {
    font-family: bebas-neue;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

.image-para-1 {
    margin: 0;
    font-size: 20px;
    font-family: bebas-neue;
    color: #ffffff;
}

.image-para-2 {
    font-size: 30px;
    font-family: bebas-neue;
    margin: 0;
    color: #ffffff;
}

.most-popular {
    position: absolute;
    top: 10px;
    left: 25px;
}

.fun-taste {
    position: absolute;
    top: 10px;
    left: 25px;
}

.fresh-chilli {
    position: absolute;
    top: 10px;
    left: 25px;
}



/*Choose & Enjoy*/
.enjoy-inner {
    padding: 10px 100px;
    text-align: center;
}

@font-face {
    font-family: bebas-neue;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: alfa-slab;
    src: url(./fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

.choose-always {
    text-align: -webkit-center;
}

.choose-button {
    font-family: bebas-neue;
    background-color: #ffc045;
    padding: 10px 0px;
    width: 15%;
    font-size: 25px;
    cursor: pointer;
}

.section-title {
    font-family: alfa-slab;
    font-size: 45px;
    padding: 30px 0;
    color: #3d2514;
}

.choose-info article p {
    font-family: montserrat;
    margin: 0;
    font-size: 17px;
    color: #3d2514;
}


/*Most popular*/
.most-popular-section{
    background: color #f2f2f2;;
    max-width: 1440px;
    margin: 0 auto;
   
}
.burger3-img3{
    display: flex;
    padding: 30px 10px 5px 10px;
    text-align:center ;
   justify-content: space-between;
}
.burger1{
    float: left;
    width: 365px;
    height: 272px;
    padding: 30px 10px 5px 10px;

    
}
.shadow1{
    width: 370px;
    height: 40px;
  text-align: center;
}
.shadow2{
    width: 378px;
    height: 40px;
    text-align: center;
}
.burger2{
    float: left;
    width: 348px;
    height: 303px;
    

    
}
.burger3{
  float: right;
  width: 380px;
  height: 283px;
  padding: 30px 10px 5px 10px;
  
}
.shadow3{
    width: 380px;
    height: 40px;
    text-align: center;
    
}
@font-face {
    font-family:minal ;
    src: url(./fonts/BebasNeue-Regular.ttf);
}
.burger3-heading{
    font-family: minal;
    font-size: xx-large;
    color: rgb(67, 39, 39);
    text-align: center;
}

@font-face {
    font-family:burger3-heading-para;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
.burger3-heading-para{
      width: 340px;
      height: 50px;
    font-family:burger3-heading-para;
    color: rgb(67, 39, 39);
    text-align: center;
    font-style: normal;
    

    
}

@font-face {
    font-family: alfa;
    src: url(./fonts/AlfaSlabOne-Regular.ttf);
}
.button{
    width: 175px;
    font-family: alfa;
    background-color: rgb(214, 15, 15);
    color: white;
    font-size: large;
    height: 57px;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button:active{
    background-color: antiquewhite;
}
.burger3{
    text-align: center;
}


/*Upcoming Event*/
.upcoming-events {
    margin-top: 300px;
}

.event {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 10px 10px 35px 1px grey;
}

.in-event {
    padding: 25px;
    display: flex;
    justify-content: space-between;

}

.event-article,
.event-img {
    width: 50%;
    height: 440px;
    overflow: hidden;
}

.upcoming-event {
    padding: 15px;
    margin-top: 65px;
}

@font-face {
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

.event-discover {
    font-size: 29px;
    font-family: BebasNeue;
    color: #3d3d3d;
}

@font-face {
    font-family: AlfaSlabOne;
    src: url(./fonts/AlfaSlabOne-Regular.ttf);
}


.event-heading {
    margin: 0;
    margin-bottom: 15px;
    font-size: 42px;
    font-family: AlfaSlabOne;
    color: #3d2514;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

.event-para {
    margin: 0;
    font-family: Montserrat;
    font-size: 21px;
    color: #4e4e4e;
}

.slider-button {
    color: #dcdcdc;
    margin-top: 80px;
}

.slider-button:hover {
    color: #ffc045;
}

.slide {
    width: 100%;
}



/*Book your table*/
.book_your_table {
    position: relative;
    padding: 30px 0;
}

.title {
    text-align: center;
    font-size: 24px;
}

.block-details {
    display: flex;
}

.block1 {
    text-align: center;

}

.block1-data {
    padding: 15px;
    padding-left: 380px;
}

.box {
    padding: 20px;
    padding: 20px;
    width: 335px;
    border: 1px solid grey;
    border-radius: 5px;
}

.block-details2 {
    display: flex;
}

.block3-data {
    padding: 0px 29px 20px 12px;

}

.red-bottle {
    position: absolute;
    top: 210px;
    left: -80px;
    width: 40%;
}

.burger-round {
    right: 880px;
    position: absolute;
    top: 45px;
    width: 75%;
}

.dish {
    left: 1155px;
    position: absolute;
    top: 274px;
}

#main .btn {
    width: 380px;
    height: 56px;
    outline: none;
    font-weight: bold;
    border: 0px solid gray;
    text-shadow: 0px 0.5px 0.5px #fff;
    border-radius: 5px;
    font-weight: 600;
    color: gray;
    letter-spacing: 1px;
    font-size: 18px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#main .btn:hover {
    background-color: red;
    outline: none;
    border-radius: 5px;
    color: #f1f1f1;
    border: 1px solid grey;
}

.title h1 {
    color: #3d2514;
    font-family: AlfaSlabOne;

}

.btn {
    font-family: AlfaSlabOne;
}

.title h4 {
    color: #3d2514;
    font-family: BebasNeue;
    src: url(./icomoon/fonts/BebasNeue-Regular.ttf);
}

/*footer*/
.footer {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    color: white;
}

.inner-footer {
    background-image: url("./imgs/footer-bg.png");
    background-repeat: round;
    height: 525px;
    padding: 40px;
    position: relative;
}

.footer-logo {
    width: 468px;
    height: 93px;
    margin-top: 80px;
}

.footer-section {
    display: flex;
    margin-top: 50px;
}

.footer-left_section {
    width: 55%;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(./icomoon/fonts/Montserrat-Regular.ttf);
}

.footer-left_text {
    font-size: 17px;
    font-family: Montserrat-Regular;
}

@font-face {
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

.footer-copyright {
    position: absolute;
    bottom: 28px;
    font-size: 17px;
    font-family: BebasNeue;
}

.footer-right_section {
    width: 45%;
    margin-top: 10px;
}

.footer-mail-location_section {
    position: absolute;
    right: 140px;
}

a {
    text-decoration: none;
    color: white;
}

.footer-location_section {
    margin-bottom: 13px;
}

.footer-location_icon,
.footer-mail_icon {
    font-size: 35px;
    vertical-align: sub;
}
.footer-mail_icon{
    font-size: 29px;
}
.footer-icon_text {
    font-family: BebasNeue;
    font-size: 21px;
    padding-left: 35px;
}

.footer-icon {
    position: absolute;
    bottom: 28px;
    right: 40px;
}

.footer-social_icon {
    margin-left: 12px;
    border: 1px solid;
    border-radius: 100%;
    font-size: 16px;
    padding: 4px 6px;
    color: black;
    background-color: white;
}

.footer-facebook {
    padding: 4px 8px;
}