.body {
    margin: 0px;
}

.header {
    background-image: url(images/header-bg-image.png);
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header-par {
    font-family: Montserrat;
    height: 820px;
    display: flex;
    justify-content: space-between;

}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: AlfaSlabOne;
    src: url(fonts/AlfaSlabOne-Regular.ttf);
}

.header-logo {
    max-width: 263px;
    margin: 46px 56px;
}

.header-scooter-par {
    text-align: center;
    display: flex;
    margin: -655px 45px 0px 0px;
    width: 330px;
    align-items: center;
    font-family: bebas-neue;
}

.header-scooter {
    margin: 46px 12px;
    height: 35px;
}

.header-scooter-text {
    font-weight: bold;
    font-family: 'Montserrat';
    max-width: 273px;
    height: 18px;
}

.header-nav-par {
    display: flex;
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    margin-top: -698px;
    margin-left: 918px;
    max-width: 533px;

}

.header-nav {
    text-decoration: none;
    margin: 0 13px;
    font-family: BebasNeue;
    letter-spacing: 6px;
    color: #3d2514;
}

.header-glow {
    margin-left: 650px;
    height: 600px;
    width: 100%;
    max-width: 827px;
    position: absolute;
    margin-top: -798px;
}

a {
    text-decoration: none;
    color: #3d2514;
}

.header-drink {
    margin-left: 1165px;
    margin-top: -598px;
    max-width: 171px;
    position: absolute;
    height: 478px;
}

.header-french-fries {
    transform: rotate(-36deg);
    max-width: 220px;
    margin-top: -527px;
    margin-left: 820px;
}

.header-burger {
    margin-top: -471px;
    margin-left: 914px;
    max-width: 356px;
    position: absolute;
    height: 367px;
}

.header-price {
    margin-top: -295px;
    margin-left: 786px;
    padding: 54px 10px;
    position: absolute;
}

.header-burger-shadow {
    margin-top: -115px;
    margin-left: 869px;
    max-width: 431px;
    position: absolute;
}

.header-drink-shadow {
    margin-top: -127px;
    margin-left: 1109px;
    max-width: 270px;
    position: absolute;
}

.header-sub-title-parent {}

.header-sub-title {
    font-size: 24px;
    margin-top: -534px;
    margin-left: 62px;
    border: dashed 2px #3d2514;
    padding: 15px 20px;
    max-width: 415px;
    position: absolute;
    font-family: 'BebasNeue';
    color: #3d2514;
}

.header-burger-text {
    margin-top: -471px;
    margin-left: 65px;
    position: absolute;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 114px;
    color: white;
    letter-spacing: 6px;
}

.header-burger-text-white {
    margin-top: -476px;
    margin-left: 60px;
    position: absolute;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 114px;
    color: #3d2514;
    letter-spacing: 6px;
}

.header-week-text {
    margin-top: -328px;
    margin-left: 67px;
    position: absolute;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 56px;
    color: white;
    letter-spacing: 2px;
}

.header-week-text-white {
    margin-top: -331px;
    margin-left: 65px;
    position: absolute;
    font-weight: bold;
    font-family: AlfaSlabOne;
    font-size: 56px;
    color: #3d2514;
    letter-spacing: 2px;
}

.amit {
    letter-spacing: 6px;
    font-family: 'BebasNeue';
    margin: -698px 6px 10px 954px;
    font-size: 25px;
}

.list {
    margin: 8px;
}